---
BasedOnStyle: Microsoft
Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Allman
NamespaceIndentation: All
IndentCaseLabels: true
AccessModifierOffset: -4

PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

SortIncludes: false
FixNamespaceComments: true
